*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    background: var(--bg-color);

}
/* 
body.active {
    --text-color: #fff;
    --bg-color: #0f0c27;
  } */

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --first-color-blue: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}




body{
    
    background-color: rgb(206, 220, 235);
}


    .header.shadow {
        box-shadow: 0 0 4px rgb(14 55 54 / 15%);
      }

.header{
    position: relative;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
    box-shadow: -3px  2px  rgb(185, 208, 231),
      2px 2px 5px rgba(94, 104, 121, 0.288);
}

.skills h1{
    font-size: 40px;
    padding-top: 70px;
    text-align: center;
}

.skills p {
   font-size: 18px;
    text-align: center;
}


.header h1{
    color: rgb(0, 0, 0);
    margin-top: 20px;
}
.header h1 span{
    color: red;
}

.nav ul{
    /* margin-top: 20px; */
    /* padding: 15px; */
    /* display: inline-block; */
    display: flex;
}

.menu  {
    display: none;
    color: black;
    font-size: 30px;
    position: absolute;
    right: 2px;
}



ul li a{
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(10, 2, 2);
    margin-right: 30px;
    text-decoration: none;
    position: relative;
}
ul li a::after{
    margin-top: 30px;
    content: '';
    width: 0;
    height: 10px;
    background-color: red;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}
ul li a:hover{
    color: var(--main-color)
}

.wrapper{ 
    margin-left: 30px;
    display: inline-flex;
} 
.wrapper .icon{ 
   
    margin: 0 8px; 
    text-align: center; 
    cursor: pointer; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    position:relative; 
    z-index: 2; 
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
.wrapper .icon span{ 
    display: block; 
    height: 39px; 
    width: 40px; 
    background: #fff;
    border-radius: 50%; 
    position: relative; 
    z-index: 2; 
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
} 
.wrapper .icon span i{ 
    line-height: 40px; 
    font-size: 25px; 
} 
.wrapper .icon .tooltip{ 
    position: absolute;
    top: 0; z-index: 1; 
    background: #fff; 
    color: #fff; 
    padding: 10px 18px; 
    font-size:20px; 
    font-weight: 500; 
    border-radius: 25px; 
    opacity: 0; 
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1); 
    transition: 0.4s cubic-bezier(0.68,-0.55, 0.265, 1.55); 
} 

.wrapper .icon:hover .tooltip{ 
    top: -70px; 
    opacity: 1; 
    pointer-events:auto; 
} 
.icon .tooltip:before{ 
    position: absolute; 
    content: ""; 
    height: 15px; 
    width:15px; 
    background: #fff; 
    left: 50%; 
    bottom: -6px; 
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
} 
.wrapper .icon:hover span{ 
    color: #fff; 
} 
.wrapper .icon:hover span, .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4); 
} 
.wrapper .facebook:hover span, .wrapper
.facebook:hover .tooltip, .wrapper .facebook:hover .tooltip:before{ 
    background:#3B5999; 
} 
.wrapper .twitter:hover span, .wrapper .twitter:hover .tooltip, .wrapper
.twitter:hover .tooltip:before{ 
    background: #46C1F6; 
} 
.wrapper .instagram:hover
span, .wrapper .instagram:hover .tooltip, .wrapper .instagram:hover .tooltip:before{
background: #e1306c; 
} 

.wrapper .github:hover span, .wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{ 
    background: #333; 
}

.wrapper .linkedin:hover span, .wrapper
.linkedin:hover .tooltip, .wrapper .linkedin:hover .tooltip:before{ 
    background:#3B5999; 
} 

.Home{
    display: flex;
    justify-content: space-evenly;
}

.Home img{
    margin-left: 50px;
    /* padding-top: 20px; */
    height: 400px;
    margin-top: 120px;
}

.Home{
    margin-top: 30px;
    margin-left: 20px;
}

.text span{
    color: red;
}
.text p{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    /* margin-top: 20px; */
    font-size: 18px;
    line-height: 20px;
}

.text h1{
    font-size: 38px;
    margin-left: 30px;
    padding-top: 240px;
    color: rgb(0, 0, 0);
    /* margin-top: 39px; */
}
 
          /* About */



.About{
    /* margin-top: 40px; */
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: 600px 300px;
    gap: 250px; */
    display: flex;
    justify-content: space-evenly;
}
.About img{
    height: 500px;
    width: 400px;
    padding-top: 30px;
    margin-right: 40px;
    border-right: 2px solid black;
  
    
}

.text_abt span{
    margin-left: 50px;
}

.text_abt{
    margin-right: 50px;
    padding-top: 70px;
    color: rgb(0, 0, 0);
}
.text_abt h1{
    margin-left: 50px;
    color: black;
    font-size: 45px;
}
.text_abt p{
    margin-left: 50px;
    font-size: 20px;
    line-height: 30px;
}
.About button:hover{
    color: white;
    background-color: red;
}
.About button{
    margin-left: 50px;
    position: absolute;
    text-decoration: none;
    /* letter-spacing: 2px; */
    font-size: 18px;
    height: 45px;
    width: 140px;
    background-color: rgb(72, 86, 221);
    color: white;
    border-radius: 8px;
    border: 1px solid white;
}


        /* Skills */
      
     .mida_weyn{
         justify-content: center;
     }   


 .skills_container{
     row-gap: 0;
 }

 .skills_header{
     display: flex;
     align-items: center;
     margin-bottom: var(--mb-2-5) ;
 }
 .skills_icon,
 .skills_arrow{
     font-size: 2rem;
     color: var(--first-color);
 }

 .skills_icon{
     margin-right: var(--mb-0-75);
 }

 .skills_title{
     font-size: var(--h3-font-size);
 }

 .skills_subtitle{
    font-size: var(--small-font-size); 
    color: var(--text-color-light);
 }
 .skills_arrow{
    margin-left: auto;
    transition: .4s; 
 }

 .skills_list{
     row-gap: 1.5rem;
    padding-left: 2.7rem; 
 }

 .skills_titles{
     display: flex;
     justify-content: space-between;
     margin-bottom: var(--mb-0-5);
 }

 .skills_name{
     font-size: var(--normal-font-size);
     font-weight: var(--font-medium);
 }

 .skills_bar,
 .skills_percentage{
     height: 5px;
     border-radius: .25rem;
 }

 .skills_bar{
   background-color: var(--first-color-lighter);  
 }
 .skills_percentage{
     display: block;
     background-color: var(--first-color);
 }

 .skills__html{
     width: 90%;
 }

 
 .skills__css{
    width: 80%;
}
 .skills__js{
    width: 70%;
}


 .skills__php{
    width: 60%;
}


 .skills__my_sql{
    width: 50%;
}

 .skills__flutter{
    width: 80%;
}

 .skills__dart{
    width: 70%;
}

.skills_close .skills_list{
   height: 0;
   overflow: hidden;
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
}



        /* Projects */

.sub-title span{
    color: red;
}

.portfolio{
    padding: 1px 0;
    margin-top: 9rem;
  }





.portfolio{
    padding: 1px 0;
    margin-top: 9rem;
  }
  .project-list{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
   
  }
  .project{
    padding: 10px;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
  }
  .project img {
    width: 95%;
    height: 70%;
    display: block;
  }
  .project:hover{
    background-color: rgb(139, 139, 218);
  }
  .project a {
    padding-top: 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
  }
  
  .project:hover a {
    color: #ffffff;
  }
  .sub-title{
    text-align: center;
  }
  
       /* contect */

    .heading span{
        color: red;
    }

       .contact-form {
        display: grid;
        place-items: center;
        margin-top: 2rem;
      }
      
      .contact-form form {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        width: 650px;
      }
      
      form input,textarea {
          padding-top: 20px;
          border: 5px solid black;
        padding: 15px;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        outline: none;
        background: hsla(260, 100%, 44%, 0.1);
        margin-bottom: 1rem;
        color: var(--text-color);
      }
      
      form input::placeholder,
      textarea::placeholder {

        color: var(--text-color);
      }


      form input:focus,
      textarea:focus {
        border-color: var(--main-color);
      }


      .heading h2{
          font-size: 1.5rem;
          margin-top: 40px;
          text-align: center;
      }
      
      form textarea {
        resize: none;
        /* width: 200px; */
        height: 100px;
      }

      .contact-form{
          display: flex;
          justify-content: space-evenly;
      }

      .sawiran img{
          width: 400px;
          height: 400px;
      }
      
      .contact-button {
        width: 240px;
        cursor: pointer;
        background: rgb(139, 139, 218);
        color: #fff;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 10px;
      }
      
      .contact-button:hover {
        background: #c51b05;
        color: white;
      }


          /* copy right  */
          .footer{
            padding: 20px;
           background-color: rgb(178, 208, 240);
            text-align: center;
            color: black;
           }

        .footer.shadow {
            box-shadow: 0 0 4px rgb(14 55 54 / 15%);
          }








@media (max-width: 991px) {
  
    /* section {
      padding: 50px 4%;
    } */
  }
  
  @media (max-width: 881px) {
    :root{
        --big-font-size: 1rem; 
    }
  }
  
  @media (max-width: 768px) {
    :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
    }
 
 /* .header .nav {
      /* position: absolute; */
      /* top: -200px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column; */
      /* background: rgb(206, 220, 235); */
      /* box-shadow: 0 4px 4px rgb(0 0 0 / 10%); */
      /* transition: 0.2s ease; */
      /* text-align: center; */
     

    /* } */ */

.header{
    padding: 11px 4%;
 }

 .header h1{
    font-size: 24px;
 }


 .menu {

    top: 15px;
    right: 10px;
    font-size: 30px;
    color: black;
    display: block;
    

 }


 .nav ul  {

     margin-top: 40px;
     flex-direction: column;
     align-items: center;
    
}

.nav li {
    padding-top: 18px;
}

.nav {

    display: none;
}


.nav.active {

  display: flex;

}
  
.header .nav.responsive{
        display: block;
        float: left;
        font-size: 10px;
  
        
    } 

    .project img {
        width: 55%;
        height: 30%;
    }
    
   
   .project-list{
       display: grid;
       grid-template-columns: 300px;
       text-align: center;
   }
   .contact-form {
       display: grid;
       grid-template-columns: 300px;
       justify-content: center;
       text-align: center;
       margin-left: 20px;
   }
   /* .contact-form input{
       margin: 20px 30px;
   } */

   .contact-button{
    width: 200px;
    
    /* padding-left: 40px */
   }

   .Home{
    margin-top: -70px;
       display: block;
   }
   
   .Home img{
    margin-top: -20px;
          margin-left: -40px;
       width: 400px;
    margin-bottom: 20px;   
    /* padding-right: 300px; */
   }

   .About{
    margin-top: -70px;
    display: block;
    
   }
   .About img{
    
   
    border:1px solid none;
    margin-left: 30px;
    margin-top: 80px;
    height: 400px;
    width: 350px;
   }

   .text_abt h1{
       font-size: 30px
   }

   .text_abt p{
       font-size: 18px;
   }

 
}
  




/* responsive */

